<h2>Hi <%= currentUser.name %>. Welcome to the app!</h2>


<h2>Search for a City!</h2>
<form method="GET" action="/search">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="submit">
</form>